body{
  margin: auto;
  padding: 0;
  font-family: sans-serif;
  background: #FFB133;
}
.navbar-customclass .navbar-nav .nav-link{
	color:#ff8c00;
}
#reservadv{

background-color: #ffd966;
width:50%;
text-align: center;
margin-top:3%;

}
#reserva{
margin:auto;

}

#reserva h1{
color:black;

}
.navbar-customclass .navbar-nav .nav-link > a{

    color: white;
    background: orange;
}

/*manage members*/


