body{
  margin: auto;
  padding: 0;
  font-family: sans-serif;
  background: #FFB133;
}
.navbar-customclass .navbar-nav .nav-link{
	color:#ff8c00;
}
#reserva{
margin-top: 5%;
background-color: #2c333a;
width:400px;
text-align: center;


}

#reserva h1{
color:white;

}